#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   div:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.flex-row {
   display: flex; /* Makes the div a flex container */
   flex-direction: row; /* Arranges items horizontally (default) */
   /* Optional properties for alignment and spacing */
   justify-content: space-around; /* Distributes space around items */
   align-items: center; /* Aligns items vertically in the center */
}